/****

    AUTHOR: NyanKiyoshi
    URL: https://github.com/NyanKiyoshi/Flat-Cake
    LICENSE: MIT

****/

/**
    * * * RESET and MISC.
**/

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:focus {
    outline:none;
}

::-moz-focus-inner {
    border: 0;
}

a, input {
    transition: all 0.2s ease 0s;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #EFEFEF;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body{
    height: 100%;
}

#wrap{
    height: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
}

.asidewrap{
    width: 20%;
    min-width: 250px;
    position: absolute;
    background: #252931;
    color: #ffffff;
}

.asidewrap aside{
    position: relative;
    float: left;
    width: 100%;
}

section{
    width: 80%;
    margin-left: 20%;
}

.article-content {
    text-align: justify;
}


/**** MENU ****/

.header-sidebar {
    padding: 1em;
    font-weight: 600;
    background: #1A77AF;
    margin: 0 0 17px 0;
}

.asidewrap p {
    padding: 15px;
}

.left-menu li.active a:before {
    background: #3C9A50;
    content: " ";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 5px;
}

.menuJQ .acc_trigger.active:before{
    background: #3C9A87;
    content: " ";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 5px;
}

.left-menu li.active a, .menuJQ .acc_trigger.active {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3) inset;
}

.left-menu li.active a:active, .menuJQ .acc_trigger.active:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6) inset;
}

.left-menu li a, .menuJQ .acc_trigger {
    display: block;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    font-size: 1.1em;
    text-decoration: none;
    text-transform: capitalize;
    padding: 1em 2em;
}

.left-menu li a:hover, .menuJQ .acc_trigger:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
}

.left-menu li a:hover:before {
    background: #2E753D;
    content: " ";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 5px;
}

.menuJQ .acc_trigger:hover:before, .menuJQ li a:hover:before {
    background: #2e7562;
    content: " ";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 5px;
}

.left-menu li a:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3) inset;
}

.left-menu li.header {
    color: #9c9c9c;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0;
}

.jqblock {
    background: rgba(255,255,255, .1);
}

.jqblock li a {
    padding: 1em 3em;
}

.blank-all {
    float: right;
}

/**
    * * * RENDERER
**/

.dark-alpha {
    background: rgba(0, 0, 0, .3);
}

.light-alpha {
    background: rgba(255, 255, 255, .3);
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

p {
    word-wrap: break-word;
}
/**
    * * * FORMATTING
**/

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    font-weight: 900;
}

h2 {
    font-size: 28px;
}

.circle {
    border-radius: 50%;
}

.center {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.justify {
    text-align: justify;
}

.nlh {
    line-height: normal;
}

/**
    * * * RENDERER
**/

.dark-alpha {
    background: rgba(0, 0, 0, .3);
}

.light-alpha {
    background: rgba(255, 255, 255, .3);
}

/* Forms */

legend {
    color: #333333;
    font-size: 26px;
    margin: 0 0 20px 0;
}

label {
    display: block;
    font-size: 15px;
    color: #3C3C3C;
    margin: 24px 0 6px 0;
}

input[type=text], input[type=password], input[type=email], textarea {
    background: #FFFFFF;
    color: #333333;
    border: 1px solid #CCCCCC;
    border-radius: 1px;
    font-size: 16px;
    padding: 9px;
    height: auto;
    width: 100%;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
    border: 1px solid #55B4D2;
    box-shadow: 0 0 0 3px #B9E1EC;
}

textarea {
    height: auto;
    min-height: 35px;
    resize: vertical;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.form-render {
    margin: 15px;
}

/**** #right ****/

/* First Section */

.bg-header {
    /* http://www.pixiv.net/member_illust.php?mode=medium&illust_id=32454954 */
    background: url("../img/bg.jpg") #FFFFFF no-repeat center fixed;
    background-size: cover;
    color: #FFFFFF;
}

.bg-header h1 {
    font-size: 250%;
}

.bg-header h2 {
    font-size: 150%;
}

.bg-header h3 {
    font-size: 100%;
    font-style: oblique;
}

.bg-header-container {
    padding: 3em;
    text-shadow: black 0 0 6px;
}

.bg-header-quote {
    padding: 1em;
    text-align: right;
}

@media only screen and (max-width: 850px) {
    .asidewrap {
        position: relative;
        width: 100%;
        max-width: 100%;
    }

    section{
        width: 100%;
        margin-left: 0;
    }

    article.entry {
        width: 100%;
    }
}